<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Connections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/shards.min.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <script type="text/javascript" th:src="@{/js/search.js}"></script>
</head>
<body>
<div th:switch="${connections}" class="container my-4">
    <h5 class="my-4">
        <a th:text="${'Home'}" class="btn btn-warning disabled"></a>
    </h5>
    <div class="form-group row">
        <h6 class="col-sm-2 col-form-label">Connections:</h6>
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <input type="text" id="search_input" class="form-control" placeholder="Search by host" onkeyup="doFilter(1)">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 th:case="null">No connections</h2>
            <div th:case="*">
                <table id="data_table" class="table table-striped table-responsive-md">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Host</th>
                        <th>Port</th>
                        <th>Username</th>
                        <th>Open</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="connection : ${connections}">
                        <td th:text="${connection.id}"></td>
                        <td th:text="${connection.host}"></td>
                        <td th:text="${connection.port}"></td>
                        <td th:text="${connection.username}"></td>
                        <td><a th:href="@{'/namespace/' + ${connection.id}}" class="btn btn-info"><i class="fas fa-folder-open"></i></a></td>
                        <td><a th:href="@{'/connection/delete/' + ${connection.id}}" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-4"><a href="/connection/create" class="btn btn-success"><i class="fas fa-plus"></i></a></p>
        </div>
    </div>
</div>
</body>
</html>