<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create connection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shards.min.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<div class="container my-4">
    <h5 class="my-4">
        <a th:href="${'/connection/'}" th:text="${'Home'}" class="btn btn-warning"></a>
        >
        <a th:href="@{'/namespace/' + ${connectionId}}" th:text="${connectionId}" class="btn btn-warning"></a>
        >
        <a th:href="@{'/set/' + ${connectionId} + '/' + ${namespace}}" th:text="${namespace}" class="btn btn-warning"></a>
        >
        <a th:text="${set}" class="btn btn-warning disabled"></a>
    </h5>
    <h6 class="my-3">Query record:</h6>
    <div class="row">
        <div class="col-md-5">
            <form id="edit-form" action="#" th:action="@{'/record/query/' + ${connectionId} + '/' + ${namespace} + '/' + ${set}}" th:object="${query}" method="post">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="key" class="col-form-label">Key</label>
                        <input type="text" th:field="*{key}" class="form-control" id="key" placeholder="Key">
                        <span th:if="${#fields.hasErrors('key')}" th:errors="*{key}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="bin" class="col-form-label">Bin name</label>
                        <input type="text" th:field="*{bin}" class="form-control" id="bin" placeholder="Bin name">
                        <span th:if="${#fields.hasErrors('bin')}" th:errors="*{bin}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="queryOperator" class="col-form-label">Operator</label>
                        <select class="form-control" form="edit-form" id="queryOperator" th:field="*{queryOperator}" >
                            <option value="EQUALS">EQUALS</option>
                            <option value="CONTAINS">CONTAINS</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="collectionType" class="col-form-label">Index collection type</label>
                        <select class="form-control" form="edit-form" id="collectionType" th:field="*{collectionType}">
                            <option value="DEFAULT">Default</option>
                            <option value="LIST">List</option>
                            <option value="MAPKEYS">Map keys</option>
                            <option value="MAPVALUES">Map values</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="value" class="col-form-label">Value</label>
                        <input type="text" th:field="*{value}" class="form-control" id="value" placeholder="Value">
                        <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <input type="submit" class="btn btn-success" value="Find">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="position: fixed; bottom:0; width:100%; font-size:8px; text-align:center">Gennadii Cherniaiev (2019)</div>
</body>
</html>
